body{
    margin: 0px;
    padding: 0px;
    background-image: radial-gradient(#c7c7c7);
    font-family: system-ui;
}
.main{
    height: 1150px;
    width: 800px;
    background-color: white;
    box-shadow: 5px 7px 15px 5px #c7c7c7;
    margin: 20px auto;
}
.top-section{
    width: 150px;
    border-radius: 50%;
    
}