.body{
    margin: 0px;
    padding: 0px;
    background-image:radial-gradient(#c7c7c7 25%, #c7c7c7 74%);
    font-family: system-ui;
}

.top-section{
    background-color: rgb(138, 141, 140);
    text-align: center;
    padding: 20px;
    background-image: url(office.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.profile{
    width: 150px;
    border-radius: 50%;
}
.nav{
    margin: 0px;
    padding: 20px;
}
.p1{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
    margin-top: 0px;

}


.head{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600px;
    color: rgb(240, 242, 249);
    background-color: rgb(79, 80, 80);
     
}


