section
h1 {
    border: 2px solid rgb(168, 207, 141);
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 25px;
    
    
}

hero-image{
    background-image: linear-gradient(rgb(191, 238, 162))url(IMG-20221017-WA0002.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 5px;
    

}
img{
    display: block;
    margin: 0px auto;
}

h2 {
    color: rgb(142, 22, 106);
    background-color: rgba(81, 238, 123, 0.766);
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}
h3 {
    font-style: italic;
    font-stretch: normal;
    color: brown;
}
nav {
    font-style: oblique;
    font-weight: bolder;
}
body {
    color: black;
    font-size: medium;
    border-style: solid;
    border-width: 5px;
}

#id {
    border:2px;
    padding: 10px;
    margin:0px;
}
h1{
    background-color: rgb(74, 76, 73);
    color: rgb(18, 15, 15);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
    margin: auto;
    text-align: center;
    

}

section div {
background-color: rgb(249, 20, 245);
height: 100px;
width: 100px;;
}
/*--------- mobile -----------*/


@media only screen and(max-width:400px) {
body{
    background-color: aqua;
    height: 10px;
    width: 10px;
}
h1{
    text-decoration-color: rgb(231, 39, 196);
}
}
/*---------- Tablet ---------*/
